.home-container {
  padding-top: 120px;
  padding-left: 120px;
}

.text-title {
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
  font-weight: bold;
}

.text-subtitle {
  font-size: 20px;
  line-height: 36px;
  color: #5A6774;
  margin-bottom: 50px;
}