.search-container {
  margin-top: 54px;
  margin-left: 90px;
  margin-right: 100px;
  background-color: #E6F7FF;
  border-radius: 16px;
  padding-top: 65px;
  padding-left: 95px;
  padding-right: 480px;
  padding-bottom: 40px;
}

.title-search {
  font-size: 38px;
  line-height: 46px;
  padding-bottom: 15px;
}

.search-input {
  margin-bottom: 25px;
}